.body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://t3.ftcdn.net/jpg/03/46/14/30/360_F_346143059_HJSSw7TxF0C7SnZcrXYN2vR7DHHOCOxJ.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 143, 255);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.Header-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 5px 25px;
}

.Header-h1 button {
  padding: 16px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: slateblue;
  font-weight: bold;
  margin-left: -22px;
  border-radius: 3px;
  cursor: pointer;
}

.Header-h1 button:hover {
  background-color: rgba(71, 61, 139, 0.795);
}

.Header h1 {
  color: white;
  font-weight: bold;
}

.Header input {
  padding: 15px;
  border: 1px solid gray;
  border-radius: 3px;
  font-size: 15px;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.bodyContent-container {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.bodyContent {
  background-color: whitesmoke;
  padding: 20px 25px 5px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.bodyContent img:hover {
  transform: scale(1.1);
}
